html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Ensures the canvas (or any other content) within #root takes full size */
#root > * {
  width: 100%;
  height: 100%;
}
